
@media screen and (max-width: 1200px) {

  section,
  #profile,
  #contact {
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

    #desktop-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 100%;
  }
  
  .menu-icon{
    display:block;
    cursor:pointer;
    z-index: 100;
    position: relative;
  }

  #toggle-menu {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  .nav-links{
    position: absolute;
    top: 100%; /* Position directly below the nav bar */
    left: 0;
    width: 100%;
    background-color: var(--dark2);
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
    display: none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
  }

  .nav-links li {
    width: 100%;
    text-align: center;
  }

  .nav-links a {
    display: block;
    padding: 0.5rem 0;
    font-size: 1rem;
  }

  #toggle-menu:checked ~ .nav-links {
   display:flex;
  } 

  
  #profile {
    flex-direction: column;
    gap: 2rem;
    height: auto;
  }

  .title {
    font-size: 1.5rem;;
  }

  .logo {
    font-size: 1.5rem;
  }

  .profile-image-container,
  .portfolio-image {
    width: 250px;
    height: 250px;
  }

  .intro-content-container {
    align-items: center;
  }

    /* Stack about-me content */
  .about-me-container {
    flex-direction: column;
    padding: 1rem
  }

  .about-me-pic-conatiner,
  .about-me-pic {
    height: auto;
    width: 14rem;
  }

  .about-me-pic{
    width: 200px;
    padding:0.5rem 0.5rem 0.5rem 0.5rem;
  }

  .langauges-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

   .experience-boxes {
    flex-direction: column;
    align-items: center;

  }

}


@media (max-width: 600px) {
  section,
  #profile,
  #contact {
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  article {
    font-size: 1rem;
  }


  #desktop-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 100%;
  }
  
  .menu-icon{
    display:block;
    cursor:pointer;
    z-index: 100;
    position: relative;
  }

  #toggle-menu {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  .nav-links{
    position: absolute;
    top: 100%; /* Position directly below the nav bar */
    left: 0;
    width: 100%;
    background-color: var(--dark2);
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
    display: none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
  }

  .nav-links li {
    width: 100%;
    text-align: center;
  }

  .nav-links a {
    display: block;
    padding: 0.5rem 0;
    font-size: 1rem;
  }

  #toggle-menu:checked ~ .nav-links {
   display:flex;
  } 

  #profile {
    flex-direction: column;
    gap: 2rem;
    height: auto;
  }

  .title {
    font-size: 1.5rem;;
  }

  .logo {
    font-size: 1.5rem;
  }

  .profile-image-container,
  .portfolio-image {
    width: 250px;
    height: 250px;
  }

  .intro-content-container {
    align-items: center;
  }

  /* Stack about-me content */
  .about-me-container {
    flex-direction: column;
    padding: 1rem
  }

  .about-me-pic-conatiner,
  .about-me-pic {
    height: auto;
    width: 14rem;
  }

  .about-me-pic{
    width: 200px;
    padding:0.5rem 0.5rem 0.5rem 0.5rem;
  }

  .langauges-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  /* Projects */
  .project-boxes {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  /* Experience section */
  .experience-boxes {
    flex-direction: column;
    align-items: center;

  }

  /* Contact section */
  #contact {
    flex-direction: column;
    height: auto;
  }

  .contact-container{
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
  }

  .contact-me-container {
    flex-direction: column;
    width: auto;
    padding: 1rem;
    flex-wrap: wrap;
    gap:0.5rem;
  }

  .btns{
    display:flex;
    flex-direction: row;
  }

  /* FOOTER */
  footer {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--dark2);
    color: var(--light1);
  }

  /* Footer-specific navigation */
  .footer-nav {
    height: fit-content;
  }

  .footer-nav .footer-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-links a {
    color: var(--light1);
    font-size: 1rem;
    text-decoration: none;
  }

  .footer-links a:hover {
    color: var(--bright1) ;
    text-decoration: underline ;
    text-underline-offset: 0.5rem ;
  }
  
}