/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins" ,sans-serif; 
}

html{
  scroll-behavior: smooth;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

p{
  color: rgb(85,85,85)
}

h1, h2, h3, p {
  margin: 0;
}

:root{
  --dark1: #000000;
  --dark2: #0D3C44;
  --dark3:  #5D432F;
  --bright1: #B45139;
  --light1: #D1B18F;
  --light2: #FFFFFF;
}

@font-face {
  font-family: 'MyFont';
  src: url('fonts/DxAlegant-ExtraLight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'MyFont1';
  src: url(fonts/NeueMetana-Regular.otf) format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'MyFont2';
  src: url(fonts/NeueMetana-Bold.otf) format('opentype');
  font-weight: 700;
  font-style: normal;
}


/* TRANSISTION */

a, .btn{
  transition: all 300ms ease;
}

nav , .nav-links 
, .footer-links{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

nav {
  height: 17vh;
  align-items: center;
  justify-content: space-around;
  background-color:var(--dark2);
  color: var(--light1);
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.nav-links ,.footer-links{
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a{
  text-decoration: none;
  text-decoration-color: var(--light1);
  color: var(--light1);
}

a:hover,
#footer a:hover {
  color: var(--bright1);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: var(--bright1);
}

.logo{
  font-size:2rem;
  font-family:MyFont2;
  flex: 0 0 auto;
}

.logo:hover{
  cursor: default;
}

#desktop-nav {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--dark2);
  height: 17vh;
  position: relative; /* Important for positioning */
  gap: 15rem;
  
}

#toggle-menu{
  display: none;
}

.menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
  z-index: 100;
}

/*  SECTIONS */

section {
  box-sizing: border-box;
  min-height: 100vh;     /* ensures it fills the screen at least */
  height: auto;          /* allows growth if content is more */
  padding: 4rem 10rem;
}

.section-container {
  display: flex;
}

/* PROFILE */

#profile{
  display: flex;
  justify-content: center;
  gap: 5rem;
  min-height: calc(100vh - 17vh); /* to fit under navbar */
  padding: 3rem 10rem;
  background-color:var(--light1);
  height: 80vh;
}

.profile-image-container{
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.intro-content-container{
  display: flex;
  flex-direction:column;
  text-align:center;
  justify-content: center;

}

.portfolio-image{
  height:400px;
  width:400px;
  border-radius: 200px;
  object-fit:cover;
  object-position: center;
}

.first-line{
  font-weight: 600;
  color:var(--dark2);
}

.name{
  font-size: 2.5rem;
  font-weight: 700;
  font-family: MyFont2;
  color:var(--bright1);
}

.third-line{
  font-size:  1.75rem;
  font-weight: 600;
  color: var(--dark2);
}

.btn1,
.btn2 {
  all: unset;
  box-sizing: border-box;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-height: 2.8rem;        
  padding-inline: 1.2rem;    
  width: 8rem;

  border: var(--dark2) 0.1rem solid;
  border-radius: 2rem;

  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1;         

  color: var(--dark2);
  cursor: pointer;
  text-decoration: none;
}


.btn1:hover ,
.btn2:hover{
  color:var(--light1);
  background-color:var(--bright1);
  border: var(--light1) 0.1rem solid;
  text-decoration: none; 
}

.social1 ,
.social2 {
    cursor: pointer;
    height: 2rem;
    margin-right: 0.6rem;
}


/* ABOUT-ME */

#about-me{
  position: relative;
  background-color: var(--dark2);
  display:flex;
  align-items:center;
  justify-content:center;
  color:var(--light1);
}

.about-me-container{
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
}

.about-me-content-container{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

.subtitle1{
  color:rgb(85, 85, 85);
  font-size: 1rem;
  color: var(--light1);
}

.subtitle2{
  font-size:3rem;
  color: var(--bright1);
  font-family:MyFont1;
}

.about-me-text{
  color:  var(--light1);
  text-align: left;
}

.about-me-languages-container{
  border:var(--light1)  0.1rem solid;
  border-radius: 1rem; 
  color: var(--light1);;
  padding: 1rem;
  transition: all 300ms ease;
} 

 .about-me-languages-container:hover{
  border: var(--dark2) 0.1rem solid;
  border-radius: 1rem; 
  background-color: var(--bright1); 
  color: var(--dark2);
  padding: 1rem;
  cursor: pointer; 
} 

.about-me-languages-container .subtitle{
  font-weight: 600;
}

.langauges-list{
  gap: 2rem;
  list-style: none;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  padding: 1rem 1rem 1.5rem 1rem ;
}

.about-me-pic-conatiner{
  background-color: var(--light1);
  height:25rem;
  width: 25rem;
}

.about-me-pic{
  height: 18.75rem;
  width: 18.75rem;
  object-fit: cover;
  padding:1rem 1rem 0 1rem;
}

/* EXPERIENCE */

#experience{
  position: relative;
  background-color: var(--light1);
  display:flex;
  align-items:center;
}

.experience-container{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#experience .title{
  font-size:3rem;
  text-align: center;
  color: var(--bright1);
  font-family:MyFont1;
}

.box1-container ,
.box2-container{
  border: var(--bright1)  0.1rem solid;
  border-radius: 1rem; 
  color: var(--dark2);
  padding: 1rem;
  transition: all 300ms ease;
}

.experience-boxes{
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  align-items: stretch;
}

.box1-container,
.box2-container {
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
  height: auto;
}

/*  PROJECTS */

#project{
  position: relative;
  scroll-margin-top: 1rem;
  background-color: var(--dark2);
  scroll-margin-top: -2rem;
}

#project .title{
  text-align: center;
}

.project-boxes{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Exactly 3 per row */
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.projects--container{
  display: flex;
  flex-direction: column;
  gap:3rem;
}

.project-container{
  border: var(--light1)  0.1rem solid;
  border-radius: 1rem; 
  color: var(--light1);
  padding: 1rem;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap: 0.5rem;
  max-width: 22rem;
  box-sizing: border-box;
}

.project-image{
  background-color: var(--dark3);
  color : var(--light1);
  height: 11rem;
  width: 100%;
  text-align:center;
  line-height: 11rem;
  border-radius: 1rem;
} */

.project-img {
  height: 11rem;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;            
  background-color: var(--dark3);
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;        
  display: block;              
  border-radius: 1rem;
}


.project-title{
  font-weight: 500;
  text-align:center;
  font-size: 2rem;
}

.project-container .btns {
  display: flex;         
  width: 100%;            
  justify-content: center; 
  align-items: center;
  box-sizing: border-box;
  gap: 1rem;         
  padding-bottom: 0.8rem; 
}

.project-container .btn1,
.project-container .btn2{
  color:var(--light1);
  border-color: var(--light1)
}

.project-container .btn1:hover,
.project-container .btn2:hover{
  border-color: var(--dark2);
  color: var(--dark2);
}

/* CONTACT ME */

#contact{
  display: flex;
  justify-content: center;
  gap: 5rem;
  min-height: calc(100vh - 16vh); /* to fit under navbar */
  padding: 3rem 10rem;
  height: 80vh;
  background-color: var(--light1);
}

.social3{
   cursor: pointer;
   height: 2.5rem;
   margin-right: 0.6rem;
}

.contact-container{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  justify-content: center;
  align-items:center;
}

.contact-me-container{
  border: var(--bright1) 0.1rem solid;
  border-radius: 2rem; 
  color: var(--dark2);
  padding: 1rem;
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
}

#contact a{
  color:var(--dark2);
}

#contact a:hover{
  color:var(--bright1);
  text-decoration: none;
}

.email-box,
.linkedin-box{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  cursor: pointer;
}


footer {
  text-align: center;
  height: 16vh;
}
